In [8]:
%pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
import numpy as np 
import pandas as pd

In [5]:
FoodAccessAtlas = pd.read_csv("../DATA/FoodAccessResearchAtlasData2019.csv")
FoodAccessAtlas.head()

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga County,1,1912,693,0,0.0,0.00,0,...,221.0,1622.0,217.0,14.0,0.0,14.0,45.0,44.0,6.0,102.0
1,1001020200,Alabama,Autauga County,1,2170,743,0,181.0,8.34,1,...,214.0,888.0,1217.0,5.0,0.0,5.0,55.0,75.0,89.0,156.0
2,1001020300,Alabama,Autauga County,1,3373,1256,0,0.0,0.00,0,...,439.0,2576.0,647.0,17.0,5.0,11.0,117.0,87.0,99.0,172.0
3,1001020400,Alabama,Autauga County,1,4386,1722,0,0.0,0.00,0,...,904.0,4086.0,193.0,18.0,4.0,11.0,74.0,85.0,21.0,98.0
4,1001020500,Alabama,Autauga County,1,10766,4082,0,181.0,1.68,0,...,1126.0,8666.0,1437.0,296.0,9.0,48.0,310.0,355.0,230.0,339.0

In [6]:
len(FoodAccessAtlas.columns.tolist())

147

In [9]:
FoodEnvironmentAtlas = pd.ExcelFile("../DATA/FoodEnvironmentAtlas.xls")
FoodEnvironmentAtlas.sheet_names

['Read_Me',
 ' Variable List',
 'Supplemental Data - County',
 'Supplemental Data - State',
 'ACCESS',
 'STORES',
 'RESTAURANTS',
 'ASSISTANCE',
 'INSECURITY',
 'TAXES',
 'LOCAL',
 'HEALTH',
 'SOCIOECONOMIC']

In [10]:
type(FoodEnvironmentAtlas)

pandas.io.excel._base.ExcelFile

In [11]:
FoodEnvironmentAtlas_Variable_List = FoodEnvironmentAtlas.parse(" Variable List")

In [12]:
FoodEnvironmentAtlas_Variable_List.head()

,Category Name,Category Code,Subcategory Name,Variable Name,Variable Code,Geography,Units
0,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store, 2010",LACCESS_POP10,CNTY10,Count
1,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store, 2015",LACCESS_POP15,CNTY10,Count
2,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (% change), 20...",PCH_LACCESS_POP_10_15,CNTY10,% change
3,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (%), 2010",PCT_LACCESS_POP10,CNTY10,Percent
4,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (%), 2015",PCT_LACCESS_POP15,CNTY10,Percent

In [19]:
for sheet in FoodEnvironmentAtlas.sheet_names:
    if sheet == " Variable List":
        continue
    elif sheet == "Read_Me":
        continue    
    else:
        df  = FoodEnvironmentAtlas.parse(sheet)
        df.to_csv("/Users/mohammedismailsarfarazshaik/Documents/Datathon/DSA-Datathon-2025/DATA 1/FoodEnvironmentAtlas" + sheet + ".csv", index=False)

In [20]:
def nan_checker(df):
    """
    The NaN checker

    Parameters
    ----------
    df : the dataframe
    
    Returns
    ----------
    The dataframe of variables with NaN, their proportion of NaN and data type
    """
    
    # Get the dataframe of variables with NaN, their proportion of NaN and data type
    df_nan = pd.DataFrame([[var, df[var].isna().sum() / df.shape[0], df[var].dtype]
                           for var in df.columns if df[var].isna().sum() > 0],
                          columns=['var', 'proportion', 'dtype'])
    
    # Sort df_nan in accending order of the proportion of NaN
    df_nan = df_nan.sort_values(by='proportion', ascending=False).reset_index(drop=True)
    
    return df_nan

In [16]:
df_nan = nan_checker(FoodAccessAtlas)


df_nan

                var  proportion    dtype
0          lahunv20    0.979236  float64
1    lablack20share    0.979236  float64
2          lasnap20    0.979236  float64
3      lapop20share    0.979236  float64
4          lalowi20    0.979236  float64
..              ...         ...      ...
121    TractOMultir    0.000055  float64
122   TractHispanic    0.000055  float64
123       TractHUNV    0.000055  float64
124       TractSNAP    0.000055  float64
125     PovertyRate    0.000041  float64

[126 rows x 3 columns]